github "PureLayout/PureLayout"
github "SVProgressHUD/SVProgressHUD"
github "ReactiveX/RxSwift" ~> 4.0
github "flipboard/FLEX" ~> 2.0
github "mac-cain13/R.swift.Library"
github "CocoaLumberjack/CocoaLumberjack"
git "git@git.llsapp.com:client-infra/Quicksilver.git"
